<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WidgetServlet</servlet-name>
        <url-pattern>/WidgetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>servlets.ControlServlet</servlet-class>
        <init-param>
            <!-- Configuration Host URL's are stored in General.properties as 'MySQLHostName' and 'MySQLHostNameTest' -->
            <param-name>Configuration</param-name>
            <param-value>test</param-value>
        </init-param>
        <init-param>
            <param-name>UseDBPooling</param-name>
            <param-value>no</param-value>
        </init-param>
        <init-param>
            <param-name>PropertyFilePath</param-name>
            <param-value>/WEB-INF/config/General.properties</param-value>
        </init-param>
        <init-param>
            <param-name>EncryptKeyPath</param-name>
            <param-value>/WEB-INF/config/DoNotDeleteFile.txt</param-value>
        </init-param>
        <init-param>
            <param-name>LogFileLocation</param-name>
            <param-value>/WEB-INF/logs/</param-value>
        </init-param>
        <init-param>
            <param-name>LogFileName</param-name>
            <param-value>Web_Error_Logger</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <welcome-file-list>
        <welcome-file>graphs.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphDataServlet</servlet-name>
        <servlet-class>servlets.GraphDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuildingServlet</servlet-name>
        <servlet-class>servlets.BuildingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeterServlet</servlet-name>
        <servlet-class>servlets.MeterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreenTipServlet</servlet-name>
        <servlet-class>servlets.GreenTipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WidgetServlet</servlet-name>
        <servlet-class>servlets.WidgetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildingServlet</servlet-name>
        <url-pattern>/BuildingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeterServlet</servlet-name>
        <url-pattern>/MeterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreenTipServlet</servlet-name>
        <url-pattern>/GreenTipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphDataServlet</servlet-name>
        <url-pattern>/fetchDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
</web-app>
